<div class = "video_new">
  <div class ="edit_zenntai">

    <img src="/menber_images/<%= "#{@menber.id}"%>.jpg">
    <h4>ユーザー名</h4>
    <h5><%= @menber.name %></h5>
    <h4>メールアドレス</h4>
    <h5><%= @menber.email %></h5>
    <h5><%= link_to("編集", "/menbers/#{@menber.id}/edit") %></h5>
  </div>
</div>
