<div class = "video_new">
  <div class ="edit_zenntai">


    <%= form_tag("/users/create") do %>
      <h5>ユーザー名</h5>
      <!-- value属性を用いて、初期値を設定してください -->
      <input name="name" value="<%= @user.name %>">
      <h5>メールアドレス</h5>
      <input name="email" value="<%= @user.email %>">
    <% end %>
</div>
</div>
