<div class = "video_new">
  <div class ="edit_zenntai">


    <%= form_tag("/managers/create") do %>
      <h5>ユーザー名</h5>
      <!-- value属性を用いて、初期値を設定してください -->
      <input name="name" value="<%= @manager.name %>">
      <h5>メールアドレス</h5>
      <input name="email" value="<%= @manager.email %>">
      <input type="submit" value="新規登録">
    <% end %>
</div>
</div>
