<div class = "video_new">
  <p><%= @video.content %></p>
  <video src="<%= "/#{@video.id}.mp4" %>" controls></video>
  <h3><%= link_to("編集", "/videos/#{@video.id}/edit") %></h3>
  <h3><%= link_to("削除", "/videos/#{@video.id}/destroy", {method: "video"}) %></h3>
</div>
